<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Santa's secret page</title>
    <link rel="stylesheet" href="/static/santaslist.css" th:href="santaslist.css">
</head>
<body>
<h1>De Snälla Barnen</h1>
<div class="tbl-header">
<table cellpadding="0" cellspacing="0" border="0">
    <thead>
    <tr>
        <th>Namn</th>
        <th>ID</th>
    </tr>
    </thead>
</table>
</div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr th:each="list : ${santaslist}" >
        <td><a th:href="'/santa/' + ${list.id}" th:text="${list.name}"></a></td>
        <td th:text="${list.id}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>

